body{
    background: url("../img/xin2.jpg") no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
}
.outer{
    width: 100%;
  /*  height: 100%;
    background-attachment:fixed;*/
    background: rgba(255,255,255,0.2);
}
.aboutus{
	margin-right: 20px;
}
.aboutus h3{
	font-size: 12px;
	color: #ffffff;
	margin: 25px 5px;
	float: right;
}
.headfont{
	font-style:oblique;
	font-weight: bold;
	font-size: 100px;
	color: rgba(255,255,255,0.5);
	margin-top: 50px;
}
.titlefont{
	font-style:oblique;
	color: #b5b5b5;
	margin-top: 130px;
	font-size: 20px;
}
audio{
	display: none;
}
.form{
	background: rgba(255,255,255,0.7);
	border-width: 1px;
	border-style: solid;
	border-radius: 10%;
}
.formlist{
	width: 50%;
	font-size: 20px;
}
.formlist a{
	width: 100%;
	background-color: #565656;
}
.forminputout{
	width: 100%;
}
.forminput{
	position: relative;
	width: 70%;
	margin: 30px auto;
}
.forminput label{
	padding: 10px 5px;
	text-align: center;
	font-size: 20px;
}
.forminput a{
	float: right;
	margin-top: 40px;
	margin-right: -20px;
}
.forminputdiv{
	float: right;
	margin-right: 55px;
	margin-top: 10px;
	width: 60%;
	height: 40px;
	border-width: 1px;
	background-color: #ffffff;
	border-style: solid;
	border-radius: 4em;
}
.forminputdiv input{
	margin: 1px 13px;
	width: 90%;
	height: 90%;
	border-width: 0px;
	font-size: 20px;
}
.forminput-input{
	border-radius: 4em;
	border-color: #3588ff;
	border-width: 1px;
	border-style: solid;
	width: 60%;
	height: 50px;
	margin: 10px 0px 10px 25%;
	background-color: #3588ff;
	font-size: 20px;
	color: #ffffff;
}
.worning{
	position: absolute;
	top: -20px;
	margin-left: 120px;
	color: #ff0000;
	background: url('../img/error.png') no-repeat;
	display: none;
}
.worning p{
	line-height: 20px;
	margin: 0px;
	margin-left: 20px;
}
#check1{
	margin-left: 150px;
}
.labelremenber{
	margin: 0px;
}
.footer{
	width: 50%;
	margin: 40px auto;
	margin-top: 80px;
	text-align: center;
	color: #d5d5d5;
}
#truecode{
	margin-left: 30px;
	height: 40px;
	width: 120px;
	font-size: 18px;
}
#appearcode{
	margin-top: 5px;
	padding-top: 10px; 
	margin-right: 60px;
	height: 40px;
	text-align: center;
	float: right;
	height: 40px;
	width: 110px;
	font-size: 18px;
	background-color: #999999;
	font-weight: bold;
	font-style: oblique;
}